fastapi
uvicorn
streamlit
requests
langchain
langchain-community
langchain-huggingface
chromadb
sentence-transformers
markdown
pydantic
pypdf
docx2txt
openpyxl
python-pptx
pillow
langchain-ollama
langchain-classic